@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

li {
  list-style: none;
}

body {
  max-width: 100vw;
  padding-bottom: 500px;
}

a {
  color: rgb(63, 44, 65);
  text-decoration: none;
}

ul {
  list-style: none;
}

nav {
  width: 100%;
  margin: 0 auto;
}

.row {
  width: 100%;
  max-width: 1252px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}

.logo {
  height: 48px;
  padding-right: 4px;
}

.asdp-name {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 24px;
  line-height: 82%;
}

.nav__links {
  display: flex;
  padding-left: 386px;
  font-weight: 600;
}

.nav__link {
  display: flex;
  padding-left: 46px;
  align-items: center;
  padding-right: 2px;
  font-weight: 500;
}

.nav-login {
  display: flex;
}

.btn {
  background-color: #008b8b;
  color: rgb(255, 255, 255);
  padding: 12px 32px;
  border-radius: 144px;
  border: none;
  margin-left: 16px;
  font-weight: 500;
}

.head {
  display: flex;
  padding-top: 124px;
}

.container-left {
  display: flex;
  justify-content: start;
  max-width: 40%;
  flex-wrap: wrap;
}
.subtitle-header {
  font-weight: 600;
  font-size: 38px;
  padding-left: 0%;
}

.headtext {
  height: 18%;
  font-size: 44px;
  width: 600px;
}
.header-undertext-undertext-1 {
  padding-top: 48px;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 36px;
}
.container-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  max-width: 60%;
}

.text-effect_1 {
  color: #749e9e;
  filter: hue-rotate(720deg);
  transition: all 500ms ease;
}

.text-effect_1:hover {
  cursor: pointer;
  color: rgb(13, 102, 47);
  filter: hue-rotate(1080deg);
  transition: all 1500ms ease;
}

.emailstyle {
  padding-left: 1rem;
  padding-right: 274px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 9999px;
  border-width: 1.8px;
  width: 100%;
  font-weight: 500;
  transition-duration: 300ms;
}

.emailbutton {
  letter-spacing: 0.5px;
  color: white;

  background-color: #008b8b;
  cursor: pointer;
  margin-right: 8px;
  position: absolute;
  border-radius: 9999px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 18px;
  display: flex;
  width: 148px;

  display: flex;
  justify-content: center;
  font-weight: 700;
}

.newsletter {
  height: 0px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-end;
}

.header-undertext {
  padding-top: 20px;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 36px;
}

.sponsors {
  padding-top: 56px;
}

.customers {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  font-weight: 700;
  --tw-text-opacity: 0.7;
  color: rgba(0, 119, 119, var(--tw-text-opacity));
}

.sponsors-customers {
  opacity: 0.6;
  cursor: pointer;
  padding-top: 18px;
  width: 100%;
}

/*Features Section*/

.container {
  padding: 98px 0;
}

.h3features {
  color: #499191e8;
  display: flex;
  align-items: start;
}

.header-features {
  font-weight: 800;
  font-size: 42px;
  padding-top: 1.4%;
  display: flex;
  justify-content: center;
  max-width: 3000px;
}

.service-features {
  font-weight: 400;
  word-spacing: 2px;
  text-align: center;
  padding-top: 28px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.services {
  display: flex;
  flex-wrap: wrap;
  padding: 32px;
}

.service {
  padding: 64px;
  display: flex;
  width: calc(100% / 3);
}

.description {
  word-spacing: 2px;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
}

/*image in circle*/

.img-round {
  position: relative;
  filter: invert(8%) sepia(79%) saturate(136%) hue-rotate(999deg)
    brightness(118%) contrast(119%);
  border: #1f2323 solid;
  border-width: 1px;
  text-align: center;
  border-radius: 9999px;
  padding: 1.25rem;
  flex-shrink: 0;
}

/*Service features*/

.description {
  line-height: 26px;
  display: flex;
  flex-direction: column;
}

.img-container {
  padding-right: 12px;
}

.service-title {
  padding-bottom: 16px;
  word-spacing: normal;
}

/*work section*/

.row-columns {
  width: 100%;
  display: flex;
}

.work-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.work-right {
  width: 50%;
}

.h1work-features {
  letter-spacing: 2px;
  word-spacing: 4px;
  font-weight: 800;
  font-size: 42px;
  padding-top: 1.4%;
}

.hero {
  max-width: 100%;
  filter: invert(0%) sepia(0%) saturate(80%) hue-rotate(270deg) brightness(100%)
    contrast(100%);
}

.developper {
  max-width: 77%;
  font-size: 18px;
}

.meme {
  font-size: 12px;
}

.cryalot {
  background-color: #125555;
  filter: drop-shadow(19px);
  border: #1f2323 1px solid;
  max-width: 28%;
}
.cryalot:hover {
  background-color: #125555;
  filter: hue-rotate(360deg);
  transform: scale(1.1);
  border: #1f2323 1px solid;
  max-width: 28%;
}

/*Get started */

.work-started {
  padding-bottom: 98px;
  padding-top: 98px;
}

.row-columns {
  width: 100%;
  display: flex;
}

.work-left-2 {
  padding-right: 5%;

  width: 50%;
  display: flex;
  flex-direction: column;
}

.work-right-2 {
  width: 50%;
  display: flex;
  flex-direction: column;

  padding-left: 20px;
}

.h1work-features {
  font-weight: 800;
  font-size: 42px;
  padding-top: 1.4%;
}

.hero {
  max-width: 100%;
  filter: invert(0%) sepia(0%) saturate(80%) hue-rotate(270deg) brightness(100%)
    contrast(100%);
}

.developper {
  max-width: 77%;
  font-size: 18px;
}

.meme {
  font-size: 12px;
}

.cryalot {
  background-color: #125555;
  filter: drop-shadow(19px);
  border: #1f2323 1px solid;
  max-width: 28%;
}
.cryalot:hover {
  background-color: #125555;
  filter: hue-rotate(360deg);
  transform: scale(1.1);
  border: #1f2323 1px solid;
  max-width: 28%;
  transition: all 3000ms all ease;
}

/*Steps*/
.steps {
  display: flex;
}

.reg-steps {
  display: flex;
  margin-top: 2rem;
  flex-direction: row;
  align-items: flex-start;
}

.steps-number {
  padding-right: 2px;
  padding-bottom: 38px;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgba(203, 213, 224, var(--tw-text-opacity));
}

.descriptions {
  height: 80px;
  padding-left: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 414px;
}

.titles{
  font-weight:500;
  color: #125555;
}

/*Values*/

.fonts {
  display: flex;
}

.fonts-3 {
  padding-bottom: 20px;
  display: flex;
}

.fonts-4 {
  margin-right: 10px;
  background-color: #125555;
  color: white;
  text-align: center;
  padding: 13px;
  border-radius: 9999px;
}
.fonts-5 {
  display: flex;
  align-items: center;
}

.fonts-6 {
  max-width: 90%;
  padding-bottom: 30px;

}

.center{
  display: flex;
  justify-content: center;

}

.h3-plans{
  font-weight: 400;
  word-spacing: 2px;
  padding-top: 18px;
  line-height: 1.5em;
  min-width:200px;
  max-width:620px;
  text-align:center;
  margin:0 auto;
}

/*plans*/

.plans{
  display: flex;
  flex-wrap: wrap;
  padding-top: 8px;
  justify-content: space-evenly;
}

.plan{
  width: calc(100%/3);
  display: flex;
  flex-direction: column;

  border: 1px rgb(0, 0, 0) solid;
}

.bqyt{
  width: 100%;
max-width: 24rem;
margin-top: 4rem;
text-align: center;
padding-left: 2rem;
padding-right: 2rem;
border-radius: 0.5rem;
--tw-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
position: relative;
padding-top: 0.5rem;
display: flex;
flex-direction: column;
background-position: 0% 0%;
background-repeat: repeat;
background-attachment: scroll;
background-size: auto;
background-origin: padding-box;
background-clip: border-box;
--tw-bg-opacity: 1;
background-color: rgba(100,21,255,var(--tw-bg-opacity));
--tw-text-opacity: 1;
color: rgba(247,250,252,var(--tw-text-opacity));
background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}
.bqat{
  width: 100%;
  max-width: 24rem;
  margin-top: 4rem;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0.5rem;
  --tw-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  position: relative;
  padding-top: 0.5rem;
  --tw-text-opacity: 1;
  color: rgba(26,32,44,var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(255,255,255,var(--tw-bg-opacity));
  display: flex;
  flex-direction: column;
}

.dogs{            /*REMOVE THIS DO PROPERLY ITS JUST A PLACEHOLDER*/
  margin-bottom: 400px; 
}
