@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body{
 
  background-color: #c3dddd;
}

li {
  list-style: none;
}


a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

ul {
  list-style: none;
}

nav {
  width: 100%;
  margin: 0 auto;
}

.row {
  width: 100%;
  max-width: 1252px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}

.logo {
  height: 48px;
  padding-right: 4px;
}

.asdp-name {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 24px;
  line-height: 82%;
}

.nav__links {
  display: flex;
  padding-left: 386px;
  font-weight: 600;
  justify-content: center;
}

.nav__link {
  display: flex;
  padding-left: 46px;
  align-items: center;
  padding-right: 2px;
  font-weight: 500;
}

.nav-login {
  display: flex;
}

.btn {
  background-color: #266a67;
  color: rgb(255, 255, 255);
  padding: 12px 32px;
  border-radius: 144px;
  border: none;
  margin-left: 16px;
  font-weight: 500;
}

.btn__menu{
  display: none;
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  color: #1e635e;
}

.menu__backdrop{
 
  position: absolute;   /*so the burger menu does not affect nav items*/
  background-color: #041212;
  top: 0;
  left: 0;
  right: 0;
   bottom: 0;
  z-index: 100;
  /*display: flex*/;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}
.menu__links{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu--open{
  max-height: 100vh;
  overflow-y: hidden;
}

.btn__menu--close{
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: white;
}

.menu__link{
  font-size: 40px;
  color: white;
}

.menu__list{
  padding: 32px 0;

}
/*header*/

.head {
  display: flex;
  padding-top: 124px;
}

.container-left {
  display: flex;
  justify-content: start;
  max-width: 40%;
  flex-wrap: wrap;
}
.subtitle-header {
  font-weight: 600;
  font-size: 38px;
  padding-left: 0%;
}

.headtext {
  height: 18%;
  font-size: 44px;
  width: 600px;
}
.header-undertext-undertext-1 {
  padding-top: 48px;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 36px;
}
.container-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  max-width: 60%;
}

.text-effect_1 {
  color: #749e9e;
  filter: hue-rotate(720deg);
  transition: all 500ms ease;
}

.text-effect_1:hover {
  cursor: pointer;
  color: rgb(13, 102, 47);
  filter: hue-rotate(1080deg);
  transition: all 1500ms ease;
}

.emailstyle {
  padding-left: 1rem;
  padding-right: 274px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 9999px;
  border-width: 1.8px;
  width: 100%;
  font-weight: 500;
  transition-duration: 300ms;
}

.emailbutton {
  letter-spacing: 0.5px;
  color: white;

  background-color: #1e635e;
  cursor: pointer;
  margin-right: 8px;
  position: absolute;
  border-radius: 9999px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 18px;
  display: flex;
  width: 148px;

  display: flex;
  justify-content: center;
  font-weight: 700;
}

.newsletter {
  height: 0px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-end;
}

.header-undertext {
  padding-top: 20px;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 36px;
}

.sponsors {
  padding-top: 56px;
}

.customers {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  font-weight: 700;
  --tw-text-opacity: 0.7;
  color: rgba(0, 119, 119, var(--tw-text-opacity));
}

.sponsors-customers {
  opacity: 0.6;
  cursor: pointer;
  padding-top: 18px;
  width: 100%;
}

/*Features Section*/

.container {
  padding: 98px 0;
}

.h3features {
  color: #499191e8;
  display: flex;
  align-items: start;
}

.header-features {
  font-weight: 800;
  font-size: 42px;
  padding-top: 1.4%;
  display: flex;
  justify-content: center;
  max-width: 3000px;
}

.service-features {
  font-weight: 400;
  word-spacing: 2px;
  text-align: center;
  padding-top: 28px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.services {
  display: flex;
  flex-wrap: wrap;
  padding: 32px;
}

.service {
  padding: 64px;
  display: flex;
  width: calc(100% / 3);
}

.description {
  word-spacing: 2px;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
}

/*image in circle*/

.img-round {
  position: relative;
  filter: invert(8%) sepia(79%) saturate(136%) hue-rotate(999deg)
    brightness(118%) contrast(119%);
  border: #1f2323 solid;
  border-width: 1px;
  text-align: center;
  border-radius: 9999px;
  padding: 1.25rem;
  flex-shrink: 0;
}

/*Service features*/

.description {
  line-height: 26px;
  display: flex;
  flex-direction: column;
}

.img-container {
  padding-right: 12px;
}

.service-title {
  padding-bottom: 16px;
  word-spacing: normal;
}

/*work section*/

.row-columns {
  width: 100%;
  display: flex;
}

.work-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.work-right {
  width: 50%;
}

.h1work-features {
  letter-spacing: 2px;
  word-spacing: 4px;
  font-weight: 800;
  font-size: 42px;
  padding-top: 1.4%;
}

.hero {
  max-width: 100%;
  filter: invert(0%) sepia(0%) saturate(80%) hue-rotate(270deg) brightness(100%)
    contrast(100%);
}

.developper {
  max-width: 77%;
  font-size: 18px;
}

.meme {
  font-size: 12px;
}

.cryalot {
  background-color: #125555;
  filter: drop-shadow(19px);
  border: #1f2323 1px solid;
  max-width: 28%;
}
.cryalot:hover {
  background-color: #125555;
  filter: hue-rotate(360deg);
  transform: scale(1.1);
  border: #1f2323 1px solid;
  max-width: 28%;
}

/*Get started */

.work-started {
  padding-bottom: 98px;
  padding-top: 98px;
}

.row-columns {
  width: 100%;
  display: flex;
}

.work-left-2 {
  padding-right: 5%;

  width: 50%;
  display: flex;
  flex-direction: column;
}

.work-right-2 {
  width: 50%;
  display: flex;
  flex-direction: column;

  padding-left: 20px;
}

.h1work-features {
  font-weight: 800;
  font-size: 42px;
  padding-top: 1.4%;
}

.hero {
  max-width: 100%;
  filter: invert(0%) sepia(0%) saturate(80%) hue-rotate(270deg) brightness(100%)
    contrast(100%);
}

.developper {
  max-width: 77%;
  font-size: 18px;
}

.meme {
  font-size: 12px;
}

.cryalot {
  background-color: #125555;
  filter: drop-shadow(19px);
  border: #1f2323 1px solid;
  max-width: 28%;
}
.cryalot:hover {
  background-color: #125555;
  filter: hue-rotate(360deg);
  transform: scale(1.1);
  border: #1f2323 1px solid;
  max-width: 28%;
  transition: all 3000ms all ease;
}

/*Steps*/
.steps {
  display: flex;
}

.reg-steps {
  display: flex;
  margin-top: 2rem;
  flex-direction: row;
  align-items: flex-start;
}

.steps-number {
  padding-right: 2px;
  padding-bottom: 38px;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 1;
  --tw-text-opacity: 1;
  color:rgba(31, 36, 33, 0.397) ;
}

.descriptions {
  height: 80px;
  padding-left: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 414px;
}

.titles{
  font-weight:500;
  color: #125555;
}

/*Values*/

.fonts {
  display: flex;
}

.fonts-3 {
  padding-bottom: 20px;
  display: flex;
}

.fonts-4 {
  margin-right: 10px;
  background-color: #125555;
  color: white;
  text-align: center;
  padding: 13px;
  border-radius: 9999px;
}
.fonts-5 {
  display: flex;
  align-items: center;
}

.fonts-6 {
  max-width: 90%;
  padding-bottom: 30px;

}

.center{
  display: flex;
  justify-content: center;

}

.h3-plans{
  font-weight: 400;
  word-spacing: 2px;
  padding-top: 18px;
  line-height: 1.5em;
  min-width:200px;
  max-width:620px;
  text-align:center;
  margin:0 auto;
}

/*plans*/

.plans{
  display: flex;
  flex-wrap: wrap;
  padding-top: 22px;
  justify-content: space-evenly;
}

.plan{
padding-bottom: 38px;

}

.bqyt{
  width: 100%;
max-width: 24rem;
margin-top: 4rem;
text-align: center;
padding-left: 2rem;
padding-right: 2rem;
border-radius: 0.5rem;
--tw-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
position: relative;
padding-top: 0.5rem;
display: flex;
flex-direction: column;
background-position: 0% 0%;
background-repeat: repeat;
background-attachment: scroll;
background-size: auto;
background-origin: padding-box;
background-clip: border-box;
--tw-bg-opacity: 1;
background-color: rgba(100,21,255,var(--tw-bg-opacity));
--tw-text-opacity: 1;
color: rgba(247,250,252,var(--tw-text-opacity));
background-image: linear-gradient(135deg, #125555 0%, rgb(28, 135, 101) 100%);
}


.bqat{
  width: 100%;
  max-width: 24rem;
  margin-top: 4rem;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0.5rem;
  --tw-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  position: relative;
  padding-top: 0.5rem;
  --tw-text-opacity: 1;
  color: rgba(26,32,44,var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(255,255,255,var(--tw-bg-opacity));
  display: flex;
  flex-direction: column;
}

.thing1{
  background: rgba(0, 0, 0, 0) linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(74, 134, 126) 100%) repeat scroll 0% 0%;
  border-top-left-radius: 0.5rem;
border-top-right-radius: 0.5rem;
position: absolute;
top: 0px;
left: 0px;
right: 0px;
height: 0.6rem;
}

.thingmiddle{
  border-top-left-radius: 0.5rem;
border-top-right-radius: 0.5rem;
position: absolute;
top: 0px;
left: 0px;
right: 0px;
height: 0.6rem;
  background: rgba(0, 0, 0, 0) linear-gradient(115deg, rgb(130, 112, 10) 0%, rgb(236, 214, 19) 100%) repeat scroll 0% 0%;
}

.thing2{
  background: rgba(0, 0, 0, 0) linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%) repeat scroll 0% 0%;

  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 0.6rem;
}

.Usage{
  text-align: center;
  margin: 0 auto;
padding-top:26px;
padding-bottom: 12px;
}

.Price{
  padding-bottom: 12px;
font-size: 47px;
}

.Billing{
padding-bottom: 46px;
}
.buisnesses{
  padding-bottom: 22px;
}
.templates{
  margin: 0 auto;
  text-align: center;
  
}
.items{
  font-weight: 500;
  opacity: 0.7;
  padding: 12px;
}
.line{
  padding-bottom: 70px;
}


.buybutton{
  max-width: 14rem;
 font-weight: 600;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-rotate: 0;

  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 9999px;
  padding-top: 1rem;
  width: 100%;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  line-height: inherit;
}

.buyleft{
  color: white;

  background: rgb(29, 29, 29) linear-gradient(115deg, rgb(40, 95, 69) 0%, rgb(28, 119, 77) 100%) repeat scroll 0% 0%;
}
.buymiddle{
 
color: white;
  background: rgba(0, 0, 0, 0) linear-gradient(115deg, rgb(20, 109, 66) 0%, rgb(148, 55, 39) 100%) repeat scroll 0% 0%;
}
.buyright{
  color: white;

  background: rgba(0, 0, 0, 0) linear-gradient(115deg, rgb(168, 80, 56) 0%, rgb(71, 48, 121) 100%) repeat scroll 0% 0%;
}

/*footer*/
.foot{

  background-color: #374d4b;


 height: 510px;
  max-width: 100%;
  border: #111f1f 4px solid;

}


.links{
  
  display: flex;
  flex-wrap: wrap;
}
.link{
  
  display: flex;
  flex-direction: column;
  width: calc(100%/5);
  align-items: center;
 
}
.links{
  color: white;
}

.list-items{
  font-size: 0.875rem;
  font-weight: 500;

  padding-top: 1.4rem;
}







/*nav bottom*/
.footer__info {
  width: 100%;
  margin-top:6.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icone {
  display: flex;
}

.par-3 {
  color: white;
}

.book {
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgba(247, 250, 252, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(26, 32, 44, var(--tw-text-opacity));
  transition-duration: 300ms;
  margin-right: 1rem;
}

.book svg {
  display: block;
  width: 1rem;
  height: 1rem;
}

/*button hamburger*/

@media (max-width: 1200px) {
  .nav__links, .nav-login {
    display: none;
  }
  .btn__menu{
    display: block;
  }
  .head{
    align-items: center;
    flex-flow: column;
  }
.services{
  display: flex;
  flex-flow: column;
  align-items: center;
  
}

.service{
  align-items: center;
  

}
.service-container{
  width: 300px;
}
.work{
  display: flex;
  flex-flow: column;
}
}